button .material-icons {
    margin-top: 7px;
}

md-input-container#category {
    margin-bottom: 42px;
}

button#clear {
    margin-bottom: 20px;
}

md-toolbar-tools {
    height: 600px;
    ;
}

.adoption.ng-enter,
.adoption.ng-move {
    transition: .4s all;
    opacity: 0;
}

.adoption.ng-enter.ng-enter-active,
.adoption.ng-move.ng-move-active {
    opacity: 1;
}

.adoption.ng-leave {
    animation: .4s fade_adoption;
}

@keyframes fade_adoption {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

